body{
    text-align: center;
    background-color: #e1f9f8;
    color: #09083d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: block;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 1;
}

button{
    padding: 5px 10px;
    background-color: #09083d;
    color: #e1f9f8;
    border-radius: 5px;
    border-color: #e1f9f800;
}

img{
    width: 50%;
}

@media (min-width: 900px){
    img{
        width: 20%;
    }
}